/* CapitalQuiz.module.css */

.container {
  flex-direction: column;
  padding: 5px;
  flex-grow: 1;
  /* Take the remaining space after the navbar */
  display: flex;
  align-items: center;
}

.title {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  height: 50px;
}

button:focus {
  outline: none;
}

.progressBarContainer{
  margin: 20px;
}

.optionsContainer {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1000px;
  /* Limit the width for desktop */
  max-height: 80%;
}

.correct {
  background-color: lightgreen;
  color: black;
}

.incorrect {
  background-color: lightcoral;
  color: black;
}

/* Ensure that the options take full width on small screens */
.optionItem {
  min-width: 30%;
}

.blackDefault {
  background-color: #333;
  color: white;
}

.blackDefault:focus {
  outline: none;
}


@media (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: calc(100vh - 80px);
  }


  .titleWrapper {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* Black with 70% opacity */
    margin: 20px;
    margin-top: 0px;
    border-radius: 40px;
    color: white;
  }

  .scoreWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .scoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
  }

}

/* Responsive styles */
@media (max-width: 768px) {

  .container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .titleWrapper {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* Black with 70% opacity */
    margin: 20px;
    margin-top: 0px;
    border-radius: 40px;
    color: white;
  }

  .optionsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    max-height: 80%;

  }

  .optionItem {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .optionItem:focus {
    outline: none;
  }

  .scoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
  }

  .scoreWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .button {
    width: 100%;
    /* Ensure buttons take full width in each item */
  }
}

.nextButton {
  background-color: #333;
  color: white;
  margin-top: 20px;
}