/* CapitalQuiz.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title {
  margin-top: 100px;
  margin-bottom: 100px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.titleWrapper{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Black with 70% opacity */
  margin: 20px;
  border-radius: 40px;
}


.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 100%;
  max-width: 1000px; /* Limit the width for desktop */
}

.correct{
  background-color: lightgreen;
  color: black;
}

.incorrect{
  background-color: lightcoral;
}

/* Ensure that the options take full width on small screens */
.optionItem {
  min-width: 30%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .optionsContainer {
    justify-content: center; /* Center items in small screens */
  }

  .optionItem {
    margin-bottom: 10px; /* Add spacing between rows */
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .button {
    width: 100%; /* Ensure buttons take full width in each item */
  }
}

.feedback {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Black with 70% opacity */
  height: 70px;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextButton {
  margin-top: 20px;
}
