.navbar {
    background: #333;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 24px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    display: none;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-container{
    display: none;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  }
  
  .nav-links:hover {
    border-bottom: 3px solid #01bf71;
  }
  
  @media screen and (max-width: 960px) {
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
    }

    .icon-container{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 100vh;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      background: #333;
      z-index: 1;
    }
  
    .nav-menu.active {
      background: #333;
      left: 0;
      transition: all 0.5s ease;
      opacity: 1;
      z-index: 1;
    }
  
    .nav-item {
      height: 60px;
      display: flex;
      flex-direction: column;
      align-content: start;
      justify-content: center;
    }
  
    .nav-links {
      display: table;
    }
  
    .nav-links:hover {
      border: none;
    }
  }  